name: Test & Publish PyPI release

on:
  release:
    types: [created]

jobs:
  test-pypi:
    name: Test PyPI release
    runs-on: ubuntu-latest
    permissions:
      id-token: write  # Required for trusted publishing
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install system dependencies
        run: sudo apt-get update && sudo apt-get install -y libxkbcommon-dev

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install maturin
        run: pip install maturin

      - name: Get version from tag
        run: |
          echo "EITYPE_TAG=$(git describe --tags | sed 's/^v//')" >> $GITHUB_ENV

      - name: Build wheel
        run: maturin build --release --features python

      - name: Publish to Test PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository-url: https://test.pypi.org/legacy/
          packages-dir: target/wheels/
          verbose: true

      - name: Sleep
        run: sleep 120

      - name: Test install from Test PyPI
        run: |
          pip install \
          --index-url https://test.pypi.org/simple/ \
          --extra-index-url https://pypi.org/simple \
          eitype==${{ env.EITYPE_TAG }}

  release-pypi:
    name: Publish eitype on PyPI
    runs-on: ubuntu-latest
    needs: test-pypi
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install system dependencies
        run: sudo apt-get update && sudo apt-get install -y libxkbcommon-dev

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install maturin
        run: pip install maturin

      - name: Build wheel
        run: maturin build --release --features python

      - name: Publish package
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: target/wheels/
          verbose: true
