name: Test & Publish PyPI release

on:
  release:
    types: [created]

jobs:
  build-wheels:
    name: Build wheels
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Build wheels
        uses: PyO3/maturin-action@v1
        with:
          manylinux: 2_28
          args: --release --features python -i python3.10 -i python3.11 -i python3.12 -i python3.13 -i python3.14
          before-script-linux: |
            yum install -y libxkbcommon-devel || dnf install -y libxkbcommon-devel

      - name: Upload wheels
        uses: actions/upload-artifact@v4
        with:
          name: wheels
          path: target/wheels/*.whl

  test-pypi:
    name: Test PyPI release
    runs-on: ubuntu-latest
    needs: build-wheels
    permissions:
      id-token: write
    steps:
      - name: Download wheels
        uses: actions/download-artifact@v4
        with:
          name: wheels
          path: dist/

      - name: Publish to Test PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository-url: https://test.pypi.org/legacy/
          packages-dir: dist/
          verbose: true

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Get version from tag
        run: |
          echo "EITYPE_TAG=${{ github.event.release.tag_name }}" >> $GITHUB_ENV

      - name: Sleep for Test PyPI indexing
        run: sleep 120

      - name: Test install from Test PyPI
        run: |
          pip install \
          --index-url https://test.pypi.org/simple/ \
          --extra-index-url https://pypi.org/simple \
          eitype==${{ env.EITYPE_TAG }}

  release-pypi:
    name: Publish eitype on PyPI
    runs-on: ubuntu-latest
    needs: test-pypi
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download wheels
        uses: actions/download-artifact@v4
        with:
          name: wheels
          path: dist/

      - name: Publish package
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: dist/
          verbose: true
